<a href="https://colab.research.google.com/github/AndreiSantos07/VDA-CPE031-CPE21S4/blob/main/Exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXAMPLE   1

In [24]:
import pandas

mydataset = {'animals': ["Cat", "Dog", "Rabbit"],
              'height': [13, 17, 8]
             }

myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

EXAMPLE   2

In [23]:
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

EXAMPLE   3

In [22]:
import pandas as pd
a = [1.5, 7.5, 2.5]
myvar = pd.Series(a)
print(myvar[0])

1.5

EXAMPLE   4

In [38]:
import pandas as pd
data = {
  "age": [42, 38, 39],
  "weight": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar.loc[0])
print(myvar.loc[[0,1]])
print(myvar.loc[[0,1,2]])

age       42
weight    50
Name: 0, dtype: int64
   age  weight
0   42      50
1   38      40
   age  weight
0   42      50
1   38      40
2   39      45

EXAMPLE 5

In [43]:
import pandas as pd
# This is series using data frames
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1,s2,s3])
df = dframe.drop([0])
print(dframe)

   0  1   2
0  0  4   8
1  1  5   9
2  2  6  10

In [50]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1, s2, s3, s4], index = [0,1,2,3], columns = [0, 1, 2,3])
print(dframe)

     0     1     2   3
0  0.0   4.0   8.0 NaN
1  1.0   5.0   9.0 NaN
2  2.0   6.0  10.0 NaN
3  5.0  10.0  15.0 NaN

In [52]:
# 1.How are you going to delete indices no 0, 1, 3 leaving only all items in index 2

In [51]:
#CHALLENGE!

In [63]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1, s2, s3, s4], index = [0,1,2,3], columns = [0, 1, 2])
print("This is the original data frame: ")
print(dframe)


dframe = dframe.drop([0,1,3])
print("\nThis is now the new data frame: ")
print(dframe)

This is the original data frame:
   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

This is now the new data frame:
   0  1   2
2  2  6  10